
body {
   align-text: center;
}
h1, h2, h3 {
   font-family:"Indie Flower";
}
li {
   font-family:"Dokdo";
}
input {
   height: 15px;
   width: 150px;
   font-size: 14px;
}
label {
   display: block;
   margin-top: 15px;
}
button {
   margin: 10px;
}

