
body {
   text-align: center;
   background-color: rgb(204, 245, 231);
}
h1, h2, h3 {
   font-family:"Indie Flower";
}
li {
   font-family:"Dokdo";
}
input {
   height: 15px;
   width: 150px;
   font-size: 14px;
}
label {
   display: block;
   margin-top: 15px;
}
button {
   margin: 10px;
}
.good {
   color: green;
}
.bad {
   color: red;
}